<?xml version="1.0" encoding="UTF-8" ?>
<!-- /project1/src/mapper/MemberMapper.xml -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.MemberMapper">
	<select id="select" parameterType="map" resultType="Member">
		select * from member
		<where>
			<if test="mclass != null">
				and mclass = #{mclass}
			</if>
			<if test="id != null">
				and id = binary #{id}
			</if>
			<if test="column != null and find != null">  <!-- 둘 중 하나라도 값이 null이면 전체 목록 출력. -->
				and ${column} like binary '%${find}%'
			</if>
		</where>
	</select>
</mapper>
